* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.navbar__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navbar__list--item:not(:first-child) {
  margin-left: 2rem;
}
.navbar__list--link:link, .navbar__list--link:visited {
  text-decoration: none;
}
.header {
  max-width: 120rem;
}
